@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

header {
    background-color: black;
    color: white;
    position: sticky;
    }

header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
}
header div ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    
    
}
header div ul li{
    padding-left: 20px;
    padding-right: 20px;
}
header nav{
    display: flex;
    justify-content: space-between;
    background: #F0A83E;
    height: 62px;
    padding: 10px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
}
header nav ul li{
    padding-left: 20px;
    padding-right: 20px;
}
header a{
    text-decoration: none;
    color: white;
}
main section {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}
main section h2 {
    font-weight: bold;
    font-size: 40px;
    color: #3C2313;

}
main section.destacados{
    margin: 50px;
}
main .banner{
    display: flex;
    background-image: url('../img/bowl-and-pet-daities-on-green-background 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 409px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left:70%;
}
.banner p{
    padding: 20px;
}

.producto{
    text-align: center;
    background-color: #FBFAF6;
    font-size: 20px;
    color: #3C2313;
    font-weight: bold;
    width: 30%;
}
.precio{
    color: #F0A83E;
    font-weight: 200;
}
.productos{
    display: flex;
    justify-content: space-around;

}
.destacado-1{
    font-size: 30px;
    background-color: white;
    /*height: 54px;*/
    padding: 5px;
    border-radius: 5px;
}
.destacado-2{
    font-size: 16px;
    color: #3C2313;
}
.boton{
    background-color: #F0A83E;
    text-align: center;
    color: white;
    /*height: 49px;*/
    border-radius: 5px;
    padding: 20px;
}
.formContacto{
    margin: 100px;

}
.formContacto h3{
    color: #3C2313;
    font-size: 25px;
}
.formContacto form{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
   
}
.formContacto form input.texto{
    background-color: #3C2313;
    color: white;
    border-radius: .9rem;
    width: 50%;
    height: 3vh;

}
.formContacto form input::placeholder{
    color: white;
}
.formContacto form input.boton{
    width: 110px;
    border-radius: .9rem;
    height: 1vh;
    
}
.suscribite{
    background-color: #F0A83E;
    display: flex;
    height: 60px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

footer{
    background-color: #3C2313;
    color: white;
    
    
}
footer .separador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
footer .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
  
}
footer div div img{
    height: 100px;
    width: 100px;
}
footer div .localidad{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
footer div .localidad div{
    margin-left: 20px;
}
footer div .localidad p{
    font-size: 20px;
    font-weight: bold;
}
footer div .localidad span{
    color:#8A8787;
    font-size: 10px;
}
.logoFooter{
    padding-right: 100px;
}
.derechos{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 15px;
    font-weight: 700;
}